body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.4;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1 {
    line-height: 1.2;
}

h2, h3 { 
    line-height: 1.1;
}

h4 { 
    line-height: 1.0;
    font-weight: normal;
}

svg {
    width: 1em;
    height: 0.75em;
}

a:visited {
    color: blue;
}

ul {
    line-height: 1.0;
}