---
layout: default
title: Kyle Lucas
---

.side-nav
  %ul.dot-nav
    %li
      %a.first-dot.active{:href => "#number_1", "scroll-data" => "1"}
      %span
        %b Kyle Grant Lucas
    %li
      %a{:href => "#number_2", "scroll-data" => "2"}
      %span
        %b I Like To Code
    %li
      %a{:href => "#number_3", "scroll-data" => "3"}
      %span
        %b Music Drives Me
    %li
      %a{:href => "#number_4", "scroll-data" => "4"}
      %span
        %b Personal Projects
    %li
      %a{:href => "#number_5", "scroll-data" => "5"}
      %span
        %b Work Experience    
.main
  %section#number_1.page-block{"data-anchor" => "1"}
    .container-fluid.content
      %h1 Kyle Grant Lucas
      %h3 Software Engineer. Music Lover. Rubyist.
  %section#number_2.page-block{"data-anchor" => "2"}
    .container-fluid.content
      %h4
        %a{href: "https://github.com/kylegrantlucas"} 
          .underline I like to code.
          %i.fa.fa-github-alt
  %section#number_3_main.page-block{"data-anchor" => "3"}
    .container-fluid.content
      %h1 Music Drives Me
      %h3 Subtitle Three
      .divider
      %p 
        Past my passion for code and software is my deep passion for music. Since I was a child i've been trying to find new bands and learn new instruments whenever I can.
      %p 
        Music fuels me so much in fact that I founded a startup completely oriented around disovering and sharing music with your friends,
        = succeed "." do  
          %a{href: "https://resound.fm"} Resound.fm
      %p 
        Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.
  %section#number_4.page-block{"data-anchor" => "4"}
    .container-fluid.content
      %h1 Personal Projects
      .divider
      .row
        .col-md-6.col-xs-12.mycontent-left.project-text
          %i.fa.fa-cutlery#project-icon
          %p
            %h4
              %a{href: ''}Takeout
          %p
            Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. 
        .col-md-6.col-xs-12
          %i.glyphicon.glyphicon-cd#project-icon
          %p
            %h4
              %a{href: ''}Wax  
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam.
  %section#number_5.page-block{"data-anchor" => "5"}
    .container-fluid.content
      %h1 Work Experience
      .divider
      .row
        .col-md-3.col-xs-12.mycontent-left
          %p
            %h4 
              %a{href: ''} 
                DOWN
                %br
                (Formerly Bang With Friends)     
          %p
            Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. 
        .col-md-3.col-xs-12.mycontent-left
          %p
            %h4
              %a{href: ''}RadPad
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam.
        .col-md-3.col-xs-12.mycontent-left
          %p
            %h4
              %a{href: ''}TrackR by Phone Halo
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam.
        .col-md-3.col-xs-12
          %p
            %h4
              %a{href: ''}Dealbase and goSeek
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam.          