---
layout: default
title: Kyle Lucas
---

.side-nav
.main
  %section#number_1.page-block{"data-anchor" => "1"}
    .container-fluid.content
      %h1 Kyle Grant Lucas
      %h3 Software Engineer. Music Lover. Home Automator. Rubyist.
  %section#number_2.page-block{"data-anchor" => "2"}
    .container-fluid.content
      %h4
        %a{href: "https://github.com/kylegrantlucas"} 
          .underline I like to code.
          %i.fa.fa-github-alt
  %section#number_3_main.page-block{"data-anchor" => "3"}
    .container-fluid.content
      %h2 Remotes Are Obsolete
      %h3 (Seriously)
      .divider
      %p 
        Intro Paragraph
      %p 
        Most recently, I built a framework using Ruby (and more specifically Sinatra) to interact with Amazon's Alexa API called SingingAssistant. 
        Using the framework you can build small, modular plugins that allow for cool interaction with Amazon's Alexa devices.
      %p  
        Examples of this that I have built include controling your Phillips Hue lights with more granular control than Amazon provides,
        queueing  up movies to download with CouchPotato, checking the status of your downloads in Transmission, and even getting you latest Halo 5 statistics!
  %section#number_4.page-block{"data-anchor" => "4"}
    .container-fluid.content
      %h2 Personal Projects
      .divider
      .row
        .col-md-6.col-xs-12.mycontent-left
          %i.fa.fa-cutlery#project-icon
          %p
            %h4
              %a{href: 'http://github.com/kylegrantlucas/Takeout'}Takeout
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
        .col-md-6.col-xs-12.mycontent
          %i.fa.fa-microphone#project-icon
          %p
            %h4
              %a{href: 'http://github.com/kylegrantlucas/SingingAssistant'}SingingAssistant 
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
      .content-divider              
      .row
        .col-md-6.col-xs-12.mycontent-left
          %i.fa.fa-reddit-alien#project-icon
          %p
            %h4
              %a{href: 'http://github.com/kylegrantlucas/Readit'}Readit
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
        .col-md-6.col-xs-12.mycontent-last
          %i.fa.fa-bar-chart#project-icon
          %p
            %h4
              %a{href: 'http://github.com/kylegrantlucas/halo_stats'}Halo Stats
          %p
            Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
  %section#number_5_main.page-block{"data-anchor" => "5"}
    .container-fluid.content
      %h2 Passion Drives Me
      %h3 (I take my hobbies seriously)
      .divider
      %p 
        Past my passion for code and software is my deep passion for music. Since I was a child i've been trying to find new bands and learn new instruments whenever I can.
      %p 
        Music fuels me so much in fact that I founded a startup completely oriented around disovering and sharing music with your friends,
        = succeed "." do  
          %a{href: "https://resound.fm"} Resound.fm
      %p 
        My other lifetime passion has always been automation, since I was little i've been rigging up way to have tasks completed for me with minimal input. 
        Only recently though has the technology developed to the point (and my budget grown enough) to develop some truly cool home automation experiences.     
  %section#number_6.page-block{"data-anchor" => "6"}
    .container-fluid.content
      %h2 Work Experience
      .divider
      .row
        .col-md-4.col-xs-12.mycontent-left
          %p
            %h4 
              %a{href: 'http://downapp.com'} 
                DOWN
                %br
                %h5(Formerly Bang With Friends)     
          %p
            I built and maintained a Neo4j graph database for a site of over 1.3 million users to help with match discovery and was responsible of maintaining the majority of the Ruby on Rails web server and helped with API design for the version 2.0 launch of the site and mobile apps.
        .col-md-4.col-xs-12.mycontent-left
          %p
            %h4
              %a{href: 'http://onradpad.com'}RadPad
          %p
            Redesigned the backend apartment aggregation service to be almost 3x faster than prior. I also helped to design and implement a realtime messaging service using a Ruby on Rails API and PubSub for landlords and renters.
        .col-md-4.col-xs-12.mycontent
          %p
            %h4
              %a{href: ''}Resound.fm
          %p
            Cofounded and built a social music sharing platform that was then grown to roughly 1000 users. I help handle duties ranging from all backend engineering, devops, business development, marketing and social media.
      .content-divider
      .row 
        .col-md-6.col-xs-12.mycontent-left
          %p
            %h4
              %a{href: 'http://thetrackr.com'}TrackR
          %p
            Built an Order Management tool so over 15,000 users could manage their preferences for the companies $1.2 million IndieGoGo campaign. I also was responsible for many fixes and improvements to the backend of the main Ruby on Rails site. 
        .col-md-6.col-xs-12.mycontent-last
          %p
            %h4
              %a{href: 'http://goseek.com'}Dealbase (goSeek)
          %p
            Managed APIs for communicating between 2 large Ruby on Rails web apps. Worked with caching of large volumes of hotel searches and results over Redis and Memcached, with a Postgresql backing database. Built a full-stack (Javascript with React, Ruby) login authentication system for managing new and legacy users. 

:javascript
  var items = ['Kyle Grant Lucas','I Like To Code','Remotes Are Obsolete','Personal Projects', 'Music Drives Me','Work Experience'];