%footer
  .container-fluid.content
    %a#to-top{:href => "#"}
      {% img top alt:'This is my alt' %}
    %p {% convert_include svg-icons.haml %}
    %p.footer-text &copy; 2016 Kyle Lucas
    %p.footer-text 
      This site is built with
      %a{:href => "https://jekyllrb.com"}Jekyll.
      The source is on
      %a{:href => "https://github.com/kylegrantlucas/kylelucas.io"}Github.
      It is hosted on
      %a{:href => "https://aws.amazon.com/s3/"}S3
      and distributed with
      %a{:href => "https://aws.amazon.com/cloudfront/"}CloudFront.