<header class='header header--fixed' id='header' role='banner'>
  <div class='container' id='nav-div'>
    <nav class='nav-wrapper' id='nav' role='navigation'>
      <ul class='nav'>
        <li class='nav__item'>
          <a class='header__link subdued' href='/blog'>
            <span aria-hidden='true' class='icon icon--github'></span>
            <span class='complimentary push--left'>Blog</span>
          </a>
        </li>
        <li class='nav__item'>
          <a class='header__link subdued' href='/'>
            <span class='complimentary push--left'>Home</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
