---
title : Kyle Lucas-Rodriguez
--- 

{% set css %}
  {% include "base.css" %}
{% endset %}
<!doctype html>
<html lang="en">
  <style>
    {{ css | cssmin | safe }}
  </style>
  <head>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="kylelucas.io">
      <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/work/">Work</a>
        <a href="/projects/">Projects</a>
        <a href="https://github.com/kylegrantlucas/resume/releases/latest/download/kyle_modern.pdf">Resume</a>
       </nav>
    </header>
    <main>
      {{ content | safe }} 
    </main>
  </body>
</html>