="---"
="layout: default"
="---"

!!!
.main
  %section#number_1.page-block{"data-anchor" => "number_1"}
    .container-fluid.content
      %h1 {{title}}
      %h3 {{subtitle}}
      {{content}}
      {% include disqus.html %}