%footer#footer.info.wrapper-parallax
  #toTop.container-fluid.content
    %a#top{:href => "#"}
      %img.topTop{:src => "http://www.superdruglookatme.com/wp-content/themes/superdrug/images/top.png"}/
    %p
      %p {% include svg-icons.html %}
    %p
      %p
        %p &copy; 2015 Kyle Lucas