%footer
  .container-fluid.content
    %a#to-top{:href => "#"}
      %img{:src => "http://www.superdruglookatme.com/wp-content/themes/superdrug/images/top.png"}/
    %p {% convert_include svg-icons.haml %}
    %p &copy; 2015 Kyle Lucas