%header#header.header.header--fixed{:role => "banner"}
  #nav-div.container
    %nav#nav.nav-wrapper{:role => "navigation"}
      %ul.nav
        %li.nav__item
          %a.header__link.subdued{:href => "/blog"}
            %span.icon.icon--github{"aria-hidden" => "true"}
            %span.complimentary.push--left Blog
        %li.nav__item
          %a.header__link.subdued{:href => "/"}
            %span.complimentary.push--left Home