%meta{:charset => "utf-8"}/
%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
      {% if page.excerpt %}
      %meta{:content => "{{ page.excerpt| strip_html }}", :name => "description"}
      %meta{:content => "{{ page.excerpt| strip_html }}", :property => "og:description"}
      {% else %}
      %meta{:content => "{{ site.description }}", :name => "description"}
        %meta{:content => "{{ site.description }}", :property => "og:description"}
        {% endif %}
        %meta{:content => "{{ site.name }}", :name => "author"}
        {% if page.title %}
        %meta{:content => "{{ page.title | escape }}", :property => "og:title"}
        %meta{:content => "{{ page.title | escape }}", :property => "twitter:title"}
        {% endif %}