{% if site.footer-links.dribbble %}
%a{:href => "https://dribbble.com/{{ site.footer-links.dribbble }}"}>
  %i.svg-icon.dribbble
{% endif %}
{% if site.footer-links.email %}
%a{:href => "mailto:{{ site.footer-links.email }}"}>
  %i.svg-icon.email
{% endif %}
{% if site.footer-links.facebook %}
%a{:href => "https://www.facebook.com/{{ site.footer-links.facebook }}"}>
  %i.svg-icon.facebook
{% endif %}
{% if site.footer-links.github %}
%a{:href => "https://github.com/{{ site.footer-links.github }}"}>
  %i.svg-icon.github
{% endif %}
{% if site.footer-links.instagram %}
%a{:href => "https://instagram.com/{{ site.footer-links.instagram }}"}>
  %i.svg-icon.instagram
{% endif %}
{% if site.footer-links.stackoverflow %}
%a{:href => "http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"}>
  %i.svg-icon.stackoverflow
{% endif %}
{% if site.footer-links.pinterest %}
%a{:href => "https://www.pinterest.com/{{ site.footer-links.pinterest }}"}>
  %i.svg-icon.pinterest
{% endif %}
{% if site.footer-links.rss %}
%a{:href => "{{ site.baseurl }}/feed.xml"}>
  %i.svg-icon.rss
{% endif %}
{% if site.footer-links.twitter %}
%a{:href => "https://www.twitter.com/{{ site.footer-links.twitter }}"}>
  %i.svg-icon.twitter
{% endif %}
{% if site.footer-links.lastfm %}
%a{:href => "https://last.fm/user/{{ site.footer-links.lastfm }}"}>
  %i.svg-icon.lastfm
{% endif %}
{% if site.footer-links.linkedin %}
%a{:href => "https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"}>
  %i.svg-icon.linkedin
{% endif %}
{% if site.footer-links.googleplus %}
%a{:href => "https://plus.google.com/{{ site.footer-links.googleplus }}"}>
  %i.svg-icon.googleplus
{% endif %}