@import "svg-icons";

footer {
  background-color: $dark-blue;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  // height:225px;
  z-index:-1;
  text-align: center;

  img {
    width: 50px;
  }
  img:hover {
    cursor: pointer;
  }
}

.footer-text {
  line-height: 12px;
  font-size: 14px; 
}