@import "svg-icons";

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  
  // height:225px;
  z-index:-1;
  text-align: center;
  img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  img:hover {
    cursor: pointer;
  }

  .svg-icons {
    a {
      text-decoration: none;
    }
  }

  .footer-text {
    line-height: 14px;
    font-size: 14px;
    @include respond-to(iphones) { 
      line-height: 16px;
      font-size: 16px;
    } 
  }
}