// Import Vendor Assets
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
@import "font-awesome-sprockets";
@import "font-awesome";
@import "compass/css3";

// Define Constants
$font-style: Lato, sans-serif;
$orange: #E98A22;
$purple: #433955;
$light-blue: #27586B;
$dark-blue: #113F51;
$red: #AA4D39;
$green: #39553E;

// Import Partials (dependent on above declarations)
@import "side_nav";
@import "header";
@import "footer";
@import "post";

body {
  background: linear-gradient(0deg, $dark-blue 70%, $light-blue 30%);
  background-attachment: fixed;
  
  .main {
    height: 100%;
    position: relative;
    margin-bottom:225px;
    // top: 50px;
  }

  h1 {
    font-family: $font-style;
    font-size: 60px;
    line-height: 1.125;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: -3px;
  }
  @media (max-width: 300px) {
    h1 {
      font-size: 34px;
      letter-spacing: -1px;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
    }
  }
  @media (min-width: 800px) {
    h1 {
      font-size: 90px;
    }
  }

  h2 {
    font-family: $font-style;
    font-size: 50px;
    line-height: 1.125;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: -3px;
  }
  @media (max-width: 300px) {
    h2 {
      font-size: 24px;
      letter-spacing: -1px;
      .my-name {
        font-size: 38px;
      }
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 26px;
      letter-spacing: -1px;
    }
  }
  @media (min-width: 800px) {
    h2 {
      font-size: 60px;
      .my-name {
        font-size: 80px;
      }
    }
  }

  h3 {
    color: $orange;
    font-family: $font-style;
    font-weight: 400;
    font-size: 22px;
    line-height: 0.85;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @media (max-width: 500px) {
    h3 {
      font-size: 20px;
      letter-spacing: -1px;
    }
  }

  h4 {
    font-family: $font-style;
    font-size: 38px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    a {
      color: #fff;
      .underline {
        display: inline-block;
        text-decoration: underline;
      }
    }
    a:hover {
      color: $orange
    }
  }
  @media (max-width: 500px) {
    h4 {
      font-size: 26px;
      letter-spacing: -1px;
    }
  }

  h5 {
    font-family: $font-style;
    font-size: 24px;
    font-weight: normal;
    line-height: 42px;

    a {
      color: #fff;
    }

    a:hover {
      color: $orange;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-style;
    a {
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        color: $orange;
        text-decoration: underline;
      }
  }
  @media (max-width: 500px) {
    p {
      font-size: 16px;
    }
  }

  .fa {
      font-size: 60px;
      display:block;
      text-align:center;
      margin-bottom: 15px;
      
  }
  @media (max-width: 500px) {
    .fa {
      font-size: 40px;
    }
  }
  .fa-github-alt {
        display:inline;
      }

  .divider {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }

  .page-block {
    background-size: cover;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    color: #fff;
    transition: all 0.5s ease-in;
  }

  #number_1 {
    background-color: $light-blue;
  }

  #number_2 {
    background-color: $red;
  }

  #number_3 {
    background-color: $green;
  }

  #number_3_main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-url("go.gif", $digest: true) no-repeat center center;
    background-size: 100%;
  }
  @media (max-width: 1000px) and (min-width: 801px) {
    #number_3_main {
      background-size: 150%;
    }
  }
  @media (max-width: 800px) and (min-width: 501px) {
    #number_3_main {
      background-size: 250%;
    }
  }
  @media (max-width: 500px) {
    #number_3_main {
      background-size: 350%;
    }
  }

  #number_4 {
    background-color: $purple;
  }

    #number_5_main {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), asset-url("thejazi13-3month.jpg", $digest: true) repeat center center fixed;
    background-size: 100%;
  }
  @media (max-width: 1000px) and (min-width: 801px) {
    #number_5_main {
      background-size: 150%;
    }
  }
  @media (max-width: 800px) and (min-width: 501px) {
    #number_5_main {
      background-size: 200%;
    }
  }
  @media (max-width: 500px) {
    #number_5_main {
      background-size: 300%;
    }
  }

  .subtle-dropshadow {
    @include box-shadow(0 1px 0px rgba(0,0,0,0.25));
  }

  #number_6 {
    background-color: $light-blue;
  }

  #pages {
    background-color: $light-blue;
  }

 

  #customPaginator {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    text-align: center;

    li.active>a {
      background-color: $orange;
    }

    a:hover {
      background-color: $orange;
    }

    .fui-arrow-right:before {
      content: "\f061";
      font-family: FontAwesome;
    }

    .fui-arrow-left:before {
      content: "\f060";
      font-family: FontAwesome;
    }
  }

  .mycontent-left {
    border-right: 1px solid #333;
  }
  @media (max-width: 992px) {
    .mycontent-left {
      border-right: 0px;
      border-bottom: 1px solid #333;
    }
  }

  .col-xs-12 {
    // margin-top: 30px;
    h4 {
      a {
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-6 {
    // margin-top: 30px;
    h4 {
      a {
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-3 {
    // margin-top: 30px;
    h4 {
      font-size: 24px;
      line-height: 30px;
      a {
        font-size: 24px;
        line-height: 30px;
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        font-size: 24px;
        line-height: 30px;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 767px) {
    .pagination ul {
      display: inline-block;
    }


    .pagination>ul {
      height: 100%;
      padding: 0px;
    }

    .pagination li.next {
      position: relative;
    }

    .pagination li.previous {
      position: relative;
    }
  }
}

