@import url("http://fonts.googleapis.com/css?family=Lato");
@import "compass/css3/box-shadow";
@import "side_nav";
@import "header";
@import "footer";

$font-style: Lato, sans-serif;

body {
  background: linear-gradient(0deg, #113F51 70%, #27586B 30%);
  background-attachment: fixed;
  
  .main {
    height: 100%;
    position: relative;
    margin-bottom:200px;
  }

  h1 {
    font-family: $font-style;
    font-size: 60px;
    line-height: 1.125;
    margin-bottom: 10px;
    letter-spacing: -3px;
  }
  @media (min-width: 800px) {
    h1 {
      font-size: 80px;
    }
  }

  h4 {
    font-family: $font-style;
    font-size: 38px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
  }

  h3 {
    color: #E98A22;
    font-family: $font-style;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.85;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
    margin-bottom: 35px;
  }
  @media (min-width: 800px) {
    h3 {
      font-size: 23px;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-style;
    font-weight: normal;
  }

  .page-block {
    background-size: cover;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    padding: 3em 0;
    color: #fff;
    transition: all 0.5s ease-in;
  }

  #number_1 {
    background-color: #27586B;
  }

  #number_2 {
    background-color: #AA4D39;
  }

  #number_3 {
    background-color: #297B48;
  }

  #number_3_main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-url("thejazi13-3month.jpg", $digest: true) no-repeat center center fixed;
    background-size: 100%;
  }
  @media (max-width: 1000px) and (min-width: 801px) {
    #number_3_main {
      background-size: 150%;
    }
  }
  @media (max-width: 800px) and (min-width: 501px) {
    #number_3_main {
      background-size: 200%;
    }
  }
  @media (max-width: 500px) {
    #number_3_main {
      background-size: 300%;
    }
  }

  #number_4 {
    background-color: #27586B;
  }

  .subtle-dropshadow {
    @include box-shadow(0 1px 0px rgba(0,0,0,0.25));
  }

  #number_5 {
    background-color: #27586B;
  }

  #pages {
    background-color: #27586B;
  }

  #customPaginator {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

