// Import Vendor Assets
@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
@import "font-awesome-sprockets";
@import 'bootstrap-sprockets'; 
@import 'bootstrap';
@import "font-awesome";
@import "compass/css3";

// Define Constants
$font-style: Lato, sans-serif;
$orange: #E98A22;
$purple: #433955;
$light-blue: #27586B;
$dark-blue: #113F51;
$red: #AA4D39;
$green: #39553E;
$break-iphone-SE-min: 320px;
$break-iphone-SE-max: 568px;
$break-iphone-6-min: 370px;
$break-iphone-6-max: 675px;
$break-iphone-6plus-min: 414px;
$break-iphone-6plus-max: 736px;
$break-ipad-min: 768px;
$break-ipad-max: 1024px;

// Setup Meida Queries
@mixin respond-to($media) {
  @if $media == iphoneSE {
    @media only screen and (min-width: $break-iphone-SE-min) and (max-width: $break-iphone-SE-max) { @content; }
  }
  @else if $media == iphone6 {
    @media only screen and (min-width: $break-iphone-6-min) and (max-width: $break-iphone-6-max) { @content; }
  }
  @else if $media == iphone6plus {
    @media only screen and (min-width: $break-iphone-6plus-min) and (max-width: $break-iphone-6plus-max) { @content; }
  }
  @if $media == iphones {
    @media only screen and (min-width: $break-iphone-SE-min) and (max-width: $break-iphone-6plus-max) { @content; }
  }
  @if $media == smalliphones {
    @media only screen and (min-width: $break-iphone-SE-min) and (max-width: $break-iphone-6-max) { @content; }
  }
  @if $media == largeiphones {
    @media only screen and (min-width: $break-iphone-6-min) and (max-width: $break-iphone-6plus-max) { @content; }
  }
  @else if $media == ipad {
    @media only screen and (min-width: $break-ipad-min) and (max-width: $break-ipad-max) { @content; }
  }
  @else if $media == ipadsprepro {
    @media only screen and (min-width: $break-ipad-min) and (max-width: 1000px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-ipad-max + 1) { @content; }
  }
}

// Start Main CSS Body
body {
  background: linear-gradient(0deg, $dark-blue 70%, $light-blue 30%);
  background-attachment: fixed;
  
  .main {
    height: 100%;
    position: relative;
    margin-bottom:225px;
    @include respond-to(iphoneSE) { margin-bottom:275px;}
    @include respond-to(iphone6) { margin-bottom:265px; }
    @include respond-to(iphone6plus) { margin-bottom:265px; } 
  }

  h1 {
    font-family: $font-style;
    font-size: 90px;
    line-height: 1.125;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: -3px;
    @include respond-to(iphoneSE) { 
      font-size: 32px;
      letter-spacing: -1px;
    }
    @include respond-to(iphone6) {
      font-size: 37px;
      letter-spacing: -1px;
    }
    @include respond-to(iphone6plus) {
      font-size: 41px;
      letter-spacing: -1px;
    }
    @include respond-to(ipad) { font-size: 79px; }
  }

  h2 {
    font-family: $font-style;
    font-size: 60px;
    line-height: 1.125;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: -3px;
    @include respond-to(iphones) {
      font-size: 24px;
      letter-spacing: -1px;
    }
    @include respond-to(ipad) { font-size: 50px; }
  }

  h3 {
    color: $orange;
    font-family: $font-style;
    font-weight: 400;
    font-size: 22px;
    line-height: 0.85;
    margin-top: 15px;
    margin-bottom: 15px;
    @include respond-to(smalliphones) {
      font-size: 20px;
      letter-spacing: -1px;
      line-height: 20px;
    }
    @include respond-to(iphone6plus) {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 24px;
    }
  }

  h4 {
    font-family: $font-style;
    font-size: 38px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    a {
      color: #fff;
      .underline {
        display: inline-block;
        text-decoration: underline;
      }
    }
    a:hover {
      color: $orange
    }
    @include respond-to(iphones) {
      font-size: 26px;
      line-height: 34px;
      letter-spacing: -1px;
    }
  }

  h5 {
    font-family: $font-style;
    font-size: 24px;
    font-weight: normal;
    line-height: 42px;

    a {
      color: #fff;
    }

    a:hover {
      color: $orange;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-style;
    a {
      color: #fff;
      text-decoration: underline;
    }
    a:hover {
      color: $orange;
      text-decoration: underline;
    }
    @include respond-to(iphones) { font-size: 18px; }
  }

  .fa {
    font-size: 60px;
    display:block;
    text-align:center;
    margin-bottom: 15px;   
    @include respond-to(iphones) { font-size: 40px; margin-top: 20px;  }
    @include respond-to(ipad) { margin-top: 20px;  }
  }
  .fa-github-alt {
    display:inline;
  }

  .divider {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }

  .content-divider {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    margin-top: 15px;
  }
  @media (max-width: 991px) {
    .content-divider {
      border-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .page-block {
    background-size: cover;
  }

  .content {
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    color: #fff;
    transition: all 0.5s ease-in;
  }

  #number_1 {
    background-color: $light-blue;
  }

  #number_2 {
    background-color: $red;
  }

  #number_3 {
    background-color: $green;
  }

  #number_3_main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), asset-url("go.gif") no-repeat center center;
    background-size: 100%;
    @include respond-to(iphoneSE) { background-size: 800%; }
    @include respond-to(largeiphones) { background-size: 600%; }
    @include respond-to(ipad) { background-size: 500%; }
  }

  #number_4 {
    background-color: $purple;
  }

  #number_5_main {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), asset-url("thejazi13-3month.jpg") repeat center center fixed;
    background-size: 100%;
    @include respond-to(iphones) { background-size: 300%; }
    @include respond-to(ipad) { background-size: 200%; }
  }

  .subtle-dropshadow {
    @include box-shadow(0 1px 0px rgba(0,0,0,0.25));
  }

  #number_6 {
    background-color: $light-blue;
  }

  #pages {
    background-color: $light-blue;
  }

  #customPaginator {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    text-align: center;

    li.active>a {
      background-color: $orange;
    }

    a:hover {
      background-color: $orange;
    }

    .fui-arrow-right:before {
      content: "\f061";
      font-family: FontAwesome;
    }

    .fui-arrow-left:before {
      content: "\f060";
      font-family: FontAwesome;
    }
  }

  .mycontent-left {
    border-right: 1px solid #333;
  }
  @media (max-width: 991px) {
    .mycontent-left {
      border-right: 0px;
      border-bottom: 1px solid #333;
    }
    .mycontent {
      border-right: 0px;
      border-bottom: 1px solid #333;
    }
    .mycontent-last {
      border-right: 0px;
      border-bottom: 0px;
    }
  }

  .col-xs-12 {
    h4 {
      a {
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-6 {
    h4 {
      a {
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .col-md-3 {
    h4 {
      font-size: 24px;
      line-height: 30px;
      a {
        font-size: 24px;
        line-height: 30px;
        color: $orange;
        text-decoration: none;
      }
      a:hover {
        font-size: 24px;
        line-height: 30px;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: $break-ipad-min) {
    .pagination ul {
      display: inline-block;
    }
    .pagination>ul {
      height: 100%;
      padding: 0px;
    }
    .pagination li.next {
      position: relative;
    }
    .pagination li.previous {
      position: relative;
    }
  }
}

// Import Partials (dependent on above declarations)
@import "side_nav";
@import "header";
@import "footer";
@import "post";