---
layout: default
---

.side-nav
  %ul
    {% for post in paginator.posts %}
    %li
      {% if forloop.index == 1 %}
      %a.first-dot.active{:href => "#number_{{forloop.index}}", "scroll-data" => "number_{{forloop.index}}"}
      {% else %}
      %a{:href => "#number_{{forloop.index}}", "scroll-data" => "number_{{forloop.index}}"}
      {% endif %}
      %span
        %b {{ post.title | titleize }}
    {% endfor %}
    %ul
.main
  {% for post in paginator.posts %}
  %section.page-block{"data-anchor" => "number_{{forloop.index}}", :id => "number_{{forloop.index}}"}
    .container-fluid.content
      %h1 {{post.title | titleize}}
      {% if post.subtitle %}
      %h3 {{post.subtitle | titleize }}
      {% endif %}
      .divider
      .post
        %p {{post.excerpt}}
      .divider
      %h5
        %a{:href => "{{post.url | escape}}"} Read More...
  {% endfor %}
  
  %section#pages.page-block{"data-anchor" => "pages"}
    #customPaginator.pagination
      %ul
        %li.previous
          %a.fui-arrow-left{:href => "{{paginator.previous_page_path}}"}
        {% if paginator.previous_page %}
        %li
          %a{:href => "{{paginator.previous_page_path}}"} {{paginator.previous_page}}
        {% endif %}
        %li.active
          %a{:href => "#fakeLink"} {{paginator.page}}
        {% if paginator.next_page %}
        %li
          %a{:href => "{{paginator.next_page_path}}"} {{paginator.next_page}}
        {% endif %}
        %li.next
          %a.fui-arrow-right{:href => "{{paginator.next_page_path}}"}