---
layout: default
---
:javascript
  var items = [];
  {% for post in paginator.posts %}
    items.push("{{post.title | titleize }}");
  {% endfor %}

.side-nav
.main
  {% for post in paginator.posts %}
  %section.page-block{"data-anchor" => "{{forloop.index}}", :id => "number_{{forloop.index}}"}
    .container-fluid.content
      %h1 {{post.title | titleize}}
      {% if post.subtitle %}
      %h3 {{post.subtitle | titleize }}
      {% endif %}
      .divider
      .post
        %p {{post.excerpt | emojify}}
      .divider
      %h5
        %a{:href => "{{post.url | escape}}"} Read More...
  {% endfor %}
  
  %section#pages.page-block{"data-anchor" => "pages"}
    #customPaginator.pagination
      %ul
        %li.previous
          %a.fui-arrow-left{:href => "{{paginator.previous_page_path}}"}
        {% if paginator.previous_page %}
        %li
          %a{:href => "{{paginator.previous_page_path}}"} {{paginator.previous_page}}
        {% endif %}
        %li.active
          %a{:href => "#fakeLink"} {{paginator.page}}
        {% if paginator.next_page %}
        %li
          %a{:href => "{{paginator.next_page_path}}"} {{paginator.next_page}}
        {% endif %}
        %li.next
          %a.fui-arrow-right{:href => "{{paginator.next_page_path}}"}

