---
---

!!!
%html
  %head
    %link{"href" => "{% asset_path favicon.ico %}", "rel" => "shortcut icon", "type" => "image/x-icon"}/
    {% convert_include meta.haml %}

    {% stylesheet main %}
    {% stylesheet syntax %}
    %title {{page.title}}  
  %body
    {% convert_include header.haml %}
    {{content}}
    {% convert_include footer.haml %}
    {% convert_include analytics.haml %}

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
    {% if site.serving %}
    {% javascript vendor/react %}
    {% else %}
    {% javascript vendor/react.min %}
    {% endif %}

    {% javascript main %}
    {% javascript SideNav %}