---
---

!!!
%html
  %head
    {% convert_include meta.haml %}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/jQuery.headroom.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
    {% if site.serving %}
    {% javascript vendor/react %}
    {% stylesheet vendor/flat-ui %}
    {% javascript vendor/flat-ui %}
    {% else %}
    {% javascript vendor/react.min %}
    {% stylesheet vendor/flat-ui.min %}
    {% javascript vendor/flat-ui.min %}
    {% endif %}

    {% stylesheet main %}
    {% stylesheet syntax %}
    {% javascript main %}
    
  %body
    {% convert_include header.haml %}
    {{content}}
    {% convert_include footer.haml %}
    {% convert_include analytics.haml %}