---
layout: default
---
<div class='side-nav'>
  <ul class='dot-nav'>
    <li>
      <a href='#number_1' scroll-data='number_1'></a>
      <span>
        <b>Kyle Grant Lucas</b>
        Test Heading here
      </span>
    </li>
    <li>
      <a href='#number_2' scroll-data='number_2'></a>
      <span>
        <b>Title</b>
        Subtitle
      </span>
    </li>
    <li>
      <a href='#number_3' scroll-data='number_3'></a>
      <span>
        <b>Title2</b>
        Subtitle2
      </span>
    </li>
    <li>
      <a href='#number_4' scroll-data='number_4'></a>
      <span>
        <b>Title3</b>
        Subtitle3
      </span>
    </li>
    <ul></ul>
  </ul>
</div>
<div class='main'>
  <section class='page-block' data-anchor='number_1' id='number_1'>
    <div class='container-fluid content'>
      <h1>Kyle Grant Lucas</h1>
      <h3>Welcome to my site...</h3>
      <p>Software Engineer. Music Lover. Rubyist.</p>
    </div>
  </section>
  <section class='page-block' data-anchor='number_2' id='number_2'>
    <div class='container-fluid content'>
      <h4>
        I like to code. (Check out my
        <a href='/blog'>blog</a>!)
      </h4>
    </div>
  </section>
  <section class='page-block' data-anchor='number_3' id='number_3_main'>
    <div class='container-fluid content'>
      <h1>Music Drives Me</h1>
      <h3>Subtitle Three</h3>
      <p>Past my passion for code and software is my deep passion for music. Since I was a child i've been trying to find new bands and learn new instruments whenever I can.</p>
      <p>Music fuels me so much in fact that I founded a startup completely oriented around disovering and sharing music with your friends, [Resound.fm](http://resound.fm)</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
  </section>
  <section class='page-block' data-anchor='number_4' id='number_4'>
    <div class='container-fluid content'>
      <h1>Projects</h1>
      <h3>Subtitle Four</h3>
      <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.</p>
      <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
  </section>
</div>
