@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("index.png");
  background-size: 100%;
}

a:link {
  color: gray;
}

a:hover {
  color: blue;
}

input {
  outline: none;
}